[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = git@github.com:smt/oh-my-zsh.git
[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = git@github.com:smt/dotvim.git
	ignore = untracked
[submodule "vim/vup"]
	path = vim/vup
	url = git@github.com:smt/vim-update-bundles.git
