*.pyc
*.local
fish/.config/fish/completions
fish/.config/fish/fish_history
fish/.config/fish/fish_read_history
fish/.config/fish/fishd*
fish/.config/fish/fishrc
irc/.weechat/irc.conf
irc/.weechat/logs
mail/.mutt/cache
mail/.mutt/temp
mail/.offlineimaprc
